.container-index {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}
.container-section-index {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 72px);
    padding: 24px;
}
.section-index-left {
    width: 50%;
    text-align: right;
}
.section-index-rigth {
    width: 50%;
    text-align: center;
}
.section-index-group-info {
    text-align: center;
    width: 50%;
}
.section-index-group-logo {
    text-align: left;
    width: 50%;
}
.image-index {
    max-width: 415px;
}

.title-start {
    font-size: 32px;
    color: #fff;
    font-weight: 600;
}
.text-start {
    color: #fff;
    font-size: 24px;
}
.button-start {
    width: 66%;
    background: #4a1;
    color: #fff;
    height: 42px;
    margin-top: 12px;
    border-radius: 8px;
    outline: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}
.button-start:hover {
    background: #fff;
    color: #4a1;
}
.button-start:active {
    background: #4a1;
    color: #fff;
}