@import url('./app/styles/header.css');
@import url('./app/styles/index.css');
@import url('./app/styles/room.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', 'Helverica', sans-serif;
  font-family: 'Piazzolla', serif;
}

input {
  width: 66%;
  outline: none;
  height: 42px;
  border-radius: 8px;
  border: none;
  border: 1px solid #8f8;
  padding: 8px;
  margin-top: 10px;
  font-size: 22px;
}

input:focus {
  box-shadow: 0px 0px 2px 1px inset #afa;
}

li {
  list-style: none;
}